* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;

}

body {
  background-color: #b3d7ff;
  height: 100vh;
  font-family: 'Geologica', sans-serif;
}

li {
  list-style-type: none;
}